.hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  #windows-os ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  #windows-os ::-webkit-scrollbar-track {
    background: #fff;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.25);
  }
  #windows-os ::-webkit-scrollbar-thumb {
    border-radius: 50em;
    background: rgba(0, 0, 0, 0.08);
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1);
  }
  #windows-os ::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.16);
  }
  