@tailwind base;

@layer base {
  body {
    @apply text-sm;
  }
}
@tailwind components;

@layer components {
  .btn {
    @apply px-5 py-3 flex items-center justify-center h-10 relative text-center  transition ease-in-out duration-300 rounded-md whitespace-nowrap text-base font-semibold space-x-1;
  }
  .btn:hover,
  .btn:focus,
  .btn:active {
    @apply outline-none;
  }
  /* button */

  /* size button */
  .btn.btn-sm {
    @apply px-4 py-2 h-8 text-sm;
  }
  .btn.btn-lg {
    @apply px-8 py-4 h-12 text-lg;
  }
  /* type button default */
  .btn.btn-default {
    @apply bg-white text-primary-400 border border-primary-400;
  }
  .btn.btn-default:hover {
    @apply bg-gray-50;
  }
  .btn.btn-default:focus {
    @apply ring-2 ring-offset-2 ring-gray-50;
  }

  /* type button primary */
  .btn.btn-primary {
    @apply bg-primary-400 text-white border border-primary-400;
  }
  .btn.btn-primary:hover {
    @apply bg-primary-500;
  }
  .btn.btn-primary:focus {
    @apply ring-2 ring-offset-2 ring-primary-500;
  }

  .btn.btn-block {
    @apply w-full;
  }

  /* wrapper-input */
  .input-wrapper {
    @apply relative w-full min-w-0 h-10 px-4 flex items-center outline-none text-base rounded-md;
  }
  /* type wrapper-input */
  .input-wrapper.input-wrapper-default {
    @apply bg-white;
  }
  .input-wrapper.input-wrapper-primary {
    @apply bg-gray-100;
  }
  /* size wrapper-input */
  .input-wrapper.input-wrapper-sm {
    @apply text-sm py-1 px-4 h-8;
  }
  .input-wrapper.input-wrapper-lg {
    @apply text-lg py-4 px-4 h-12;
  }
  /* input */
  .input {
    @apply relative w-full min-w-0  outline-none inline-block text-base;
  }
  /* size input */
  .input.input-lg {
    @apply text-lg;
  }
  .input.input-sm {
    @apply text-sm;
  }
  /* type input */
  .input.input-primary {
    @apply bg-gray-100;
  }
  .input.input-default {
    @apply bg-white;
  }

  /* select */
  .select {
    @apply relative flex h-10 items-center justify-between w-full py-4 px-2 text-left font-semibold cursor-default focus:outline-none  text-base;
  }
  .select.select-default:focus {
    @apply focus:ring-1 focus:ring-primary-400;
  }

  /*type select */
  .select.select-default {
    @apply bg-gray-100  rounded-md;
  }
  .select.select-outline {
    @apply bg-white border-b-2 border-primary-400;
  }

  /* size select */
  .select.select-sm {
    @apply text-sm h-8 py-2 px-2;
  }
  .select.select-lg {
    @apply text-lg  h-12 py-6 px-4;
  }

  /* dropdown-item */
  .dropdown-item {
    @apply absolute z-10 w-full  mt-1 overflow-auto text-base bg-white shadow-lg max-h-56 rounded-md ring-1 ring-black ring-opacity-5 focus:outline-none;
  }

  /*size dropdown-item */
  .dropdown-item.dropdown-item-sm {
    @apply text-sm;
  }
  .dropdown-item.dropdown-item-lg {
    @apply text-lg;
  }

  /* modal */
  .modal {
    @apply inline-block overflow-hidden text-left align-bottom bg-white shadow-xl transform transition-all sm:my-8 sm:align-middle;
  }
  .modal-header {
    @apply px-4 py-6 bg-white border-b-2 border-gray-100;
  }
  .modal-body {
    @apply p-4 text-base break-words;
  }
  .modal-footer {
    @apply px-4 py-4 text-right  flex items-center justify-end;
  }

  /* tablist */
  .tablist {
    @apply flex flex-row items-center h-10 p-1 mb-0 list-none bg-gray-100 max-w-max flex-nowrap rounded-md shadow-sm;
  }

  /* react-collapse */
  .ReactCollapse--collapse {
    @apply transition-height duration-300;
  }
  /* date-picker */
  .react-datepicker-wrapper {
    @apply w-full !important;
  }
  .table-scorecard .cell-fixed {
    @apply sticky bg-white;
    z-index: 2;
  }
  .table-scorecard .cell-fixed.shadow-border-r {
    box-shadow: -1px 0px 0px #e5e7eb inset;
  }
  .table-scorecard .cell-fixed.shadow-border-l {
    box-shadow: 1px 0px 0px #e5e7eb inset;
  }
  .table-scorecard .cell-fixed.shadow-border-b {
    box-shadow: 0px -1px 0px #e5e7eb inset;
  }
  .table-scorecard tr td {
    @apply transition-all duration-300;
  }
}
  /* rc-tooltip */
  .rc-tooltip.rc-tooltip-zoom-appear,
  .rc-tooltip.rc-tooltip-zoom-enter {
    opacity: 0;
  }
  .rc-tooltip.rc-tooltip-zoom-enter,
  .rc-tooltip.rc-tooltip-zoom-leave {
    display: block;
  }
  .rc-tooltip-zoom-enter,
  .rc-tooltip-zoom-appear {
    opacity: 0;
    animation-duration: 300ms;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
    animation-play-state: paused;
  }
  .rc-tooltip-zoom-leave {
    animation-duration: 300ms;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.6, -0.3, 0.74, 0.05);
    animation-play-state: paused;
  }
  .rc-tooltip-zoom-enter.rc-tooltip-zoom-enter-active,
  .rc-tooltip-zoom-appear.rc-tooltip-zoom-appear-active {
    animation-name: rcToolTipZoomIn;
    animation-play-state: running;
  }
  .rc-tooltip-zoom-leave.rc-tooltip-zoom-leave-active {
    animation-name: rcToolTipZoomOut;
    animation-play-state: running;
  }
  @keyframes rcToolTipZoomIn {
    0% {
      opacity: 0;
      transform-origin: 50% 50%;
      transform: scale(0, 0);
    }
    100% {
      opacity: 1;
      transform-origin: 50% 50%;
      transform: scale(1, 1);
    }
  }
  @keyframes rcToolTipZoomOut {
    0% {
      opacity: 1;
      transform-origin: 50% 50%;
      transform: scale(1, 1);
    }
    100% {
      opacity: 0;
      transform-origin: 50% 50%;
      transform: scale(0, 0);
    }
  }
  .rc-tooltip {
    position: absolute;
    z-index: 1070;
    display: block;
    visibility: visible;
    opacity: 0.9;
    @apply text-sm;
  }
  .rc-tooltip-hidden {
    display: none;
  }
  .rc-tooltip-placement-top,
  .rc-tooltip-placement-topLeft,
  .rc-tooltip-placement-topRight {
    padding: 4px 0 8px 0;
  }
  .rc-tooltip-placement-right,
  .rc-tooltip-placement-rightTop,
  .rc-tooltip-placement-rightBottom {
    padding: 0 4px 0 8px;
  }
  .rc-tooltip-placement-bottom,
  .rc-tooltip-placement-bottomLeft,
  .rc-tooltip-placement-bottomRight {
    padding: 8px 0 4px 0;
  }
  .rc-tooltip-placement-left,
  .rc-tooltip-placement-leftTop,
  .rc-tooltip-placement-leftBottom {
    padding: 0 8px 0 4px;
  }
  .rc-tooltip-inner {
    padding: 8px 10px;
    color: #fff;
    text-align: left;
    text-decoration: none;
    background-color: #373737;
    border-radius: 8px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.17);
    min-height: 32px;
  }
  .rc-tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
  }
  .rc-tooltip-placement-top .rc-tooltip-arrow,
  .rc-tooltip-placement-topLeft .rc-tooltip-arrow,
  .rc-tooltip-placement-topRight .rc-tooltip-arrow {
    bottom: 4px;
    margin-left: -4px;
    border-width: 4px 4px 0;
    border-top-color: #373737;
  }
  .rc-tooltip-placement-top .rc-tooltip-arrow {
    left: 50%;
  }
  .rc-tooltip-placement-topLeft .rc-tooltip-arrow {
    left: 15%;
  }
  .rc-tooltip-placement-topRight .rc-tooltip-arrow {
    right: 15%;
  }
  .rc-tooltip-placement-right .rc-tooltip-arrow,
  .rc-tooltip-placement-rightTop .rc-tooltip-arrow,
  .rc-tooltip-placement-rightBottom .rc-tooltip-arrow {
    left: 4px;
    margin-top: -4px;
    border-width: 4px 4px 4px 0;
    border-right-color: #373737;
  }
  .rc-tooltip-placement-right .rc-tooltip-arrow {
    top: 50%;
  }
  .rc-tooltip-placement-rightTop .rc-tooltip-arrow {
    top: 15%;
    margin-top: 0;
  }
  .rc-tooltip-placement-rightBottom .rc-tooltip-arrow {
    bottom: 15%;
  }
  .rc-tooltip-placement-left .rc-tooltip-arrow,
  .rc-tooltip-placement-leftTop .rc-tooltip-arrow,
  .rc-tooltip-placement-leftBottom .rc-tooltip-arrow {
    right: 4px;
    margin-top: -4px;
    border-width: 4px 0 4px 4px;
    border-left-color: #373737;
  }
  .rc-tooltip-placement-left .rc-tooltip-arrow {
    top: 50%;
  }
  .rc-tooltip-placement-leftTop .rc-tooltip-arrow {
    top: 15%;
    margin-top: 0;
  }
  .rc-tooltip-placement-leftBottom .rc-tooltip-arrow {
    bottom: 15%;
  }
  .rc-tooltip-placement-bottom .rc-tooltip-arrow,
  .rc-tooltip-placement-bottomLeft .rc-tooltip-arrow,
  .rc-tooltip-placement-bottomRight .rc-tooltip-arrow {
    top: 4px;
    margin-left: -4px;
    border-width: 0 4px 4px;
    border-bottom-color: #373737;
  }
  .rc-tooltip-placement-bottom .rc-tooltip-arrow {
    left: 50%;
  }
  .rc-tooltip-placement-bottomLeft .rc-tooltip-arrow {
    left: 15%;
  }
  .rc-tooltip-placement-bottomRight .rc-tooltip-arrow {
    right: 15%;
  }
@tailwind utilities;
